<style>
    :root {
    --MENU-WIDTH-S: 14.375rem;
    --MENU-WIDTH-M: 14.375rem;
    --MENU-WIDTH-L: 18.75rem;
}

@media screen and (max-width: 70.5rem) {
    #R-sidebar {
        min-width: var(--INTERNAL-MENU-WIDTH-S);
        max-width: var(--INTERNAL-MENU-WIDTH-S);
        width: var(--INTERNAL-MENU-WIDTH-S);
    }
    #R-body {
        margin-inline-start: var(--INTERNAL-MENU-WIDTH-S);
        min-width: calc( 100% - var(--INTERNAL-MENU-WIDTH-S) );
        max-width: calc( 100% - var(--INTERNAL-MENU-WIDTH-S) );
        width: calc( 100% - var(--INTERNAL-MENU-WIDTH-S) );
    }
}
@media screen and (max-width: 70.5rem) {
    /* we don't support sidebar flyout in mobile */

    .mobile-support #R-sidebar {
        inset-inline-start: calc( -1 * var(--INTERNAL-MENU-WIDTH-S) );
        min-width: var(--INTERNAL-MENU-WIDTH-S);
        max-width: var(--INTERNAL-MENU-WIDTH-S);
        width: var(--INTERNAL-MENU-WIDTH-S);
    }
    .mobile-support #navshow{
        display: inline;
    }
    .mobile-support #R-body {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
    .mobile-support #R-body {
        margin-inline-start: 0;
    }
    .mobile-support.sidebar-flyout {
        overflow: hidden;
    }
    .mobile-support.sidebar-flyout #R-sidebar {
        inset-inline-start: 0;
        z-index: 90;
    }
    .mobile-support.sidebar-flyout #R-body {
        margin-inline-start: var(--INTERNAL-MENU-WIDTH-S);
        overflow: hidden;
    }
    .mobile-support.sidebar-flyout #R-body-overlay{
        background-color: rgba( 134, 134, 134, .5 );
        bottom: 0;
        cursor: pointer;
        height: 100vh;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 190;
    }
}

</style>
